.create_buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 15px;
}


.create_buttons>* {
  height: 30px;
  padding: 0px 10px;
  color: black;
  font-family: roboto;
  /* font-weight: bold; */
  font-size: 16px;
  background-color: rgba(255,255,255,0);
  border-radius: 15px;
  border-color: black;
  border-width: 1px;
}

.create_buttons>*:hover {
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.5);
}

#mainBodyBkgdImg{
  width: inherit;
  height: 800px;
}
