body {
  /* background-image: url(../images/paperLines.png);
  background-repeat: repeat-y;
  background-size: contain; */
  height: 1100px;
}

.topHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8DAD53;
  margin: -10px;
}

#welcome, #td {
  font-size: 140px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

#to {
  font-size: 90px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-right: -20px;
  background-color: lightblue;
}

#signin_button {
    font-size: 60px;
    background:transparent;
    border: none;
}

#bottomHalf {
  margin-left: -10px;
  padding-top: 0px;
}
