body {
  background-image: url(notebookPaper.jpeg);
  background-repeat: repeat-y;
  background-size: cover;
}

.topHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8DAD53;
  margin: -10px;
}

#welcome, #td {
  font-size: 140px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

#to {
  font-size: 90px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#signin_button {
    font-size: 60px;
    border-radius: 12px;
}
