body {
  background-image: url(../images/paperLines.png);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  /* height: 900px; */
}

.topHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8DAD53;
  margin: -10px;
  /*
  height: 50%;
  width: 100%; */
  background-size: cover;
}

#welcome {
  font-size: 140px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

#td {
  font-size: 140px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
}

#to {
  font-size: 90px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 0px; */
  margin-right: -10px;
  margin-left: -10px;
  /* background-color: #8DAD53; */
  padding-top: 0px;
  /* width: 100%; */
  font-size: 60px;
  /* border-top-style: solid;
  border-color: rgb(38, 38, 38); */
}

/* a {
    font-size: 60px;
    background:transparent;
    border: none;
    margin-left: -10px;
    color: white;
} */

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #8DAD53;
}

#mainBodyBkgdImg{
  width: inherit;
}
