<!-- nav bar -->
<!-- title block with congrats blah lbah -->
<!-- previous thread item on left -->
<!-- their addition on the right -->
<!-- edit option at bottom right corner of their addition -->
<!-- confirm button -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="new_edit">
      You just made a thread!<br>
      <img src="drawings?key={{new_edit.addition.id()}}" alt="{{new_edit.addition.id()}}">
    </div>
    <button type="button" name="goHome" onclick="window.location.href='/home'">Submit!</button>
  </body>
</html>
