<!-- nav bar -->
<!-- title block: create a new thread! -->
<!-- canvas object for drawing -->
<!-- cancel button -->
<!-- submit button -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create - TeleDrawings</title>
  </head>
  <body>
    <header>
      <h1>Create a TeleDrawing!</h1>
    </header>
    <!-- insert canvas -->

    <!-- file upload for testing -->
    <form action="/confirmation-newthread" enctype="multipart/form-data" method="post">
      <input type="file" name="drawing"/>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
