<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="mainBody">
      <form action="/confirmation"
              enctype="multipart/form-data"
              method="post">
          <textarea name="caption" rows="3" cols="60"></textarea>
          <input type="text" name="request_type" value="drawing">
          <div><input type="file" name="drawing"/></div>
          <div><input type="submit" value="submit"></div>
      </form>
      <hr>
      <form>Guestbook name: <input value="%s" name="guestbook_name">
        <input type="submit" value="switch">
      </form>
    </div>
  </body>
</html>
