{% extends "base.html" %}
{% block page_title %}Edit Thread - TeleDrawings{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/edit-caption.css">
<link rel="stylesheet" href="../static/css/threadDisplay.css">
{% endblock %}

{% block title_block %}
<h1>Edit this Thread!</h1>
{% endblock %}

{% block background_imgURL %}../static/images/clearSheet.png{% endblock %}

{% block pageContent %}
  {% set edit = last_edit %}
  {% include "editDisplay.html" %}
  <form action="/confirmation?thread_id={{thread.thread_id}}&request_type=caption" method="post">
    <textarea name="caption" rows="8" cols="80"></textarea>
    <input type="submit" name="" value="Submit">
  </form>
{% endblock %}

{% block scripts %}
{% endblock %}
