<!-- nav bar -->
<!-- give up button to the left of the caption -->
<!--previous caption -->
<!--form object that lets the user draw a thing-->
<!-- submit button -->
<!DOCTYPE html>
<html>
  <head>
    <title>Edit The Thread</title>
    <link rel="stylesheet" href="../static/css/edit-drawing.css"/>
  </head>
  <body onload="init()">
    <div class="top-half" id='caption'>
      {{caption.content}}
    </div>
    <img id='drawing' src="https://i.pinimg.com/originals/a4/3a/f3/a43af39f07c64134dd57e25b55d9a3d1.jpg">
    <div class='bottom-half' id="Canvas">
      <input type="submit" value="Clear" onclick="clearCanvas(canvas,ctx);">
      <canvas id="canvas" height="600" width="600" style="border:1px solid #000000;"></canvas>
      <button onClick='saveImage();'>Submit!</button>
    </div>
    <script src='../static/scripts/edit-drawing.js'>
    </script>
</body>
</html>
