<!-- nav bar -->
<!-- give up button to the left of the caption -->
<!--previous caption -->
<!--form object that lets the user draw a thing-->
<!-- submit button -->
<!DOCTYPE html>
<html>
  <head>
    <title>Edit The Thread</title>
    <link rel="stylesheet" href="../static/css/edit-drawing.css"/>
  </head>
  <body onload="init()">
    <div class="top-half" id='caption'>
      <!-- add the previous caption that the user is drawing here -->
    </div>
    <div class='bottom-half' id="Canvas">
      <input type="submit" value="Clear" onclick="clearCanvas(canvas,ctx);">
      <canvas id="canvas" height="600" width="600" style="border:1px solid #000000;"></canvas>
      <p onClick='saveImage()'><a href='/test'>Submit!</a></p>
    </div>
    <script src='../static/scripts/edit.js'>
    </script>
</body>
</html>
