{% extends "base.html" %}
{% block page_title %}Edit Thread - TeleDrawings{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/edit-drawing.css">
<link rel="stylesheet" href="../static/css/threadDisplay.css">
{% endblock %}

{% block title_block %}
<h1>Edit this TeleDrawing!</h1>
{% endblock %}

{% block background_imgURL %}../static/images/paperLines.png{% endblock %}

{% block pageContent %}
  {% set edit = last_edit %}
  {% include "editDisplay.html" %}
  <div class='bottom-half' id="Canvas">
    <canvas id="canvas" height="600" width="600" style="border:1px solid #000000;"></canvas>
    <div class="create_buttons">
      <button id="clearCanvas" onclick="clearCanvas(canvas,ctx);">Clear</button>
      <button id="saveCanvas" onClick='saveImage({{thread.thread_id}});'>Submit!</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src='../static/scripts/edit-drawing.js'></script>
{% endblock %}
