<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>[Insert Name Here]</title>
  </head>
  <body>
    <div class="nav_bar">
      <!--insert teledrawing icon-->
      <a href="/">Home</a> <!--tab 1-->
      <a href="/">[placeholder]</a><!--tab 2-->
    </div>
    <div class='title_block'>
      <h1>{{user_info.username}}: CHOOSE A THREAD</h1>
    </div>
    <div class="main_body">
      <div class='carousel'>
        <!-- Insert Carosuel Here -->
        {% for thread in threads %}
          thread id: {{thread.thread_id}}<br>
          {% for edit in edits %}
            {% if edit.thread == thread.key %}
              <!-- edit:{{edit.key.id()}}<br> -->
              {% set kind = edit.addition.kind() %}
              {{kind}}:
              {% if kind=="Caption"%}
                {{edit.addition.get().content}}
              {% else %}
                <!-- {{edit.addition}} -->
                <img src="drawings?key={{edit.addition.id()}}" alt="{{edit.addition.id()}}">
              {% endif %}<br>
            {% endif %}
          {% endfor %}
          <br>
        {% endfor %}
      </div>
    </div>
    <a href="{{logout_url}}">log out</a>
    <a href="/edit">edit</a>
  </body>
</html>
