<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>[Insert Name Here]</title>
  </head>
  <body>
    <div class="nav_bar">
      <!--insert teledrawing icon-->
      <a href="/">Home</a> <!--tab 1-->
      <a href="/">[placeholder]</a><!--tab 2-->
    </div>
    <div class='title_block'>
      <h1>CHOOSE A THREAD</h1>
    </div>
    <div class="main_body">
      <div class='carousel'>
        <!-- Insert Carosuel Here -->
      </div>
    </div>
  </body>
</html>
