<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>[Insert Name Here]</title>
  </head>
  <body>
    <div class="nav_bar">
      <!--insert teledrawing icon-->
      <a href="/home">Home</a> <!--tab 1-->
      <a href="/my-threads">My Threads</a><!--tab 2-->
      <a href="{{logout_url}}">log out</a>
    </div>
    <div class='title_block'>
      <h1>{{user_info.username}}: CHOOSE A THREAD</h1>
    </div>
    <div class="main_body">
      <div class='bailed_threads'>
        <h2>Bailed threads:</h2>
        {% for thread in bailed_threads %}
          <h3>thread id: {{thread.thread_id}}</h3>
          {% for edit in edits_by_thread[thread.key.id()|string] %}
            {% set kind = edit.addition.kind() %}
              {{kind}}:
              {% if kind=="Caption"%}
                {{edit.addition.get().content}}
              {% else %}
                <img src="drawings?key={{edit.addition.id()}}" alt="{{edit.addition.id()}}">
              {% endif %}<br>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="user_threads">
        <h2>Active Threads</h2>
        {% for thread in user_threads %}
          <h3>thread id: <a href="/edit?key={{thread.key.id()}}">{{thread.thread_id}}</a></h3>
          {% set edit_list = edits_by_thread[thread.key.id()|string] %}
          {% set edit = edit_list[edit_list|length-1] %}
            {% set kind = edit.addition.kind() %}
              {{kind}}:
              {% if kind=="Caption"%}
                {{edit.addition.get().content}}
              {% else %}
                <img src="drawings?key={{edit.addition.id()}}" alt="{{edit.addition.id()}}">
              {% endif %}<br>
          <a href="/bail?key={{thread.key.id()}}">bail out!</a>
          <br>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
