<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TeleDrawings</title>
  </head>
  <body>
    <div class="nav_bar">
      <!--insert teledrawing icon-->
      <a href="/home">Home</a> <!--tab 1-->
      <a href="/my-threads">My Threads</a><!--tab 2-->
      <a href='/rules'>Rules</a>
      <a href="{{logout_url}}">Log Out</a>
    </div>
    <div class='title_block'>
      <h1>Your Threads!</h1>
    </div>
    <div class="main_body">
      <div class='bailed_threads'>
        <h2>Bailed threads:</h2>
        {% for thread in bailed_threads %}
          {% set edit_list = edits_by_thread[thread.key.id()|string] %}
          {% include "thread.html" %}
        {% endfor %}
      </div>
      <div class="user_threads">
        <h2>Active Threads:</h2>
        {% for thread in user_threads %}
          {% set editList = edits_by_thread[thread.key.id()|string] %}
          {% set edit_list = editList[editList|length-1:editList|length] %}
          {% include "thread.html" %}
          <a href="/bail?key={{thread.key.id()}}">bail out!</a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
