{% extends "base.html" %}
{% block page_title %}My Threads - TeleDrawings{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/my-threads.css">
{% endblock %}

{% block title_block %}
<h1>Your Threads!</h1>
{% endblock %}

{% block background_imgURL %}{% endblock %}

{% block pageContent %}
  {% if bailed_threads|length != 0 or user_threads|length != 0 %}
    {% if bailed_threads|length != 0 %}
      <div class='bailed_threads'>
        <h2>Bailed threads:</h2>
        {% for thread in bailed_threads %}
          {% set edit_list = edits_by_thread[thread.key.id()|string] %}
          {% include "thread.html" %}
        {% endfor %}
      </div>
    {% endif %}
    {% if user_threads|length != 0 %}
    <div class="user_threads">
      <h2>Active Threads:</h2>
      {% for thread in user_threads %}
        {% set editList = edits_by_thread[thread.key.id()|string] %}
        {% set edit_list = editList[editList|length-1:editList|length] %}
        {% include "thread.html" %}
        {% if edit_list[0].user != user_info.key %}
          <a href="/edit?key={{thread.key.id()}}">contribute!</a>
        {% endif %}
        <a href="/bail?key={{thread.key.id()}}">bail out!</a>
      {% endfor %}
    </div>
    {% endif %}
  {% else %}
    <h2>Oh my, you haven't done anything!</h2>
  {% endif %}
{% endblock %}

{% block scripts %}
<script src='../static/scripts/my-threads.js'></script>
{% endblock %}
