{% extends "base.html" %}
{% block page_title %}Rules - TeleDrawings{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/rules.css">
{% endblock %}

{% block title_block %}
<h1>Rules:</h1>
{% endblock %}

{% block background_imgURL %}{% endblock %}

{% block pageContent %}
  <ol>
    <li>A Thread is a collection of alternating drawings and captions.</li>
      <ul>
        <li>Threads start with a drawing</li>
      </ul>
    <li>No user may create a drawing to their own caption or vice versa.</li>
    <ul>
      <li>A user may create more than one post (a drawing or caption) in each thread.</li>
    </ul>
    <li>If you want to see all the history of a Thread, you have to bail out.</li>
      <ul>
        <li>Once you bail there's no way to rejoin.</li>
      </ul>
  </ol>
{% endblock %}

{% block scripts %}
<script src='../static/scripts/rules.js'></script>
{% endblock %}
