{% extends "base.html" %}
{% block page_title %}Rules - TeleDrawings{% endblock %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/rules.css">
{% endblock %}

{% block title_block %}
<h1 id='title'>Rules</h1>
{% endblock %}

{% block background_imgURL %}../static/images/paperLines.png{% endblock %}

{% block pageContent %}
  <ol id='list'>
    <li>A Thread is a collection of alternating drawings and captions.</li>
      <ul>
        <li>Threads start with a drawing</li>
      </ul>
    <li>No user may create a drawing to their own caption or vice versa.</li>
    <ul>
      <li>A user may create more than one post (a drawing or caption) in each thread.</li>
    </ul>
    <li>If you want to see all the history of a Thread, you have to bail out.</li>
      <ul>
        <li>Once you bail there's no way to rejoin.</li>
      </ul>
  </ol>
    <h1 id='secondTitle'>So, What's The Point?</h1>
    <h4 id='intro'>  Drawing with a mouse is hard.<br>Drawing with only written directions is hard, too.</h4>
    <p id='paragraph'>
      <!-- That is what inspires our game. Sometimes there's nothing more fun than silly misunderstandings. -->
      Now, imagine recreating someone's drawing, with a mouse, no eraser, and a third person's description.
      This usually leads to an end result that looks nothing like the original work, but don't worry, becuase that's
      the point of TeleDrawings. Every addition to a thread leads farther and farther away from the original, but gives
      us more fun along the way.
    <br>
    <br>
      You don't have to be able to draw in order to play, becuase the draiwngs that lead to funnier threads
      arent't necessarily the ones with better technique.
    </p>
    <h1 id='secondTitle'>Here's An Example</h1>
    <p>Insert Scanned Image Here</p>
{% endblock %}

{% block scripts %}
<script src='../static/scripts/rules.js'></script>
{% endblock %}
