<div class="thread_display" {% if onclick_used %}onclick="window.location.href='{{onclick_link}}'"{% endif%}>
  <header>
    <h3 id="thread_label">thread #{{thread.thread_id}}</h3>
    <div class="length_bailOut">
      <p class="length" >Length: {{thread.drawings|length + thread.captions|length}}</p>
      {% if canBail %}
        <button type="button" id="bail_out" onclick="event.stopPropagation(); window.location.href='/bail?key={{thread.key.id()}}';">Bail out!</button>
      {% endif %}
    </div>
  </header>
  {% for edit in edit_list %}
    {% include "editDisplay.html" %}
    <div class="divider"></div>
  {% endfor %}
</div><br>
