<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TeleDrawings</title>
    <link rel="stylesheet" href="../static/css/welcome.css"/>
  </head>
  <body>
    <div class='topHalf'>
      <div class="message" id="welcome">Welcome</div>
      <div class="message" id="to">to</div>
      <div class="message" id="td">TeleDrawings</div> <!--Replace with logo name time permitting-->
    </div>
    <div class='options'>
      <a id="signin_button" href="{{login_url}}">Sign in</a>
    </div>
  </body>
</html>
<!-- parallax with notebook paper background with rules scribbled on -->
